@charset "utf-8";
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input {
  -webkit-appearance: none;
  /*去除input默认样式*/
}
a,
b,
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
i,
input,
legend,
li,
ol,
p,
span,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font-family: "Hiragino Sans GB", "华文细黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  color: #5E646B;
}
body {
  width: 10rem;
  margin: 0 auto;
  overflow-x: hidden;
}
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
textarea {
  font-size: 100%;
}
address,
em,
i {
  font-style: normal;
}
button,
fieldset,
form,
input,
legend,
select,
table,
textarea {
  outline: 0;
  border: none;
}
ol,
ul {
  list-style: none outside none;
}
a {
  text-decoration: none;
  cursor: pointer;
  outline: 0;
}
img {
  border: 0;
}
b {
  font-weight: 400;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #ffffff inset;
}
button,
input,
optgroup,
option,
pre,
select,
textarea {
  border: 0 none;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  outline: 0;
}
button,
i,
img,
input,
select,
textarea {
  vertical-align: middle;
}
li {
  list-style: none;
}
html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.clearfloat {
  zoom: 1;
}
.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.relave {
  position: relative;
}
.asote {
  position: absolute;
}
.fixed {
  position: fixed;
}
.fixed_top {
  position: fixed;
  top: 0;
  z-index: 30;
}
.fixed_bottom {
  position: fixed;
  bottom: 0;
}
.block {
  display: block !important;
}
.hidden {
  display: none;
}
.inline-block {
  display: inline-block;
}
.normal-a:hover {
  text-decoration: none;
}
.box-content {
  box-sizing: content-box !important;
}
.hidden-txt {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pointer {
  cursor: pointer;
}
.no-pointer {
  cursor: default;
}
.over-hidden {
  overflow: hidden;
}
.radius {
  border-radius: 0.08rem;
}
.circle {
  border-radius: 50%;
}
.t-center {
  text-align: center;
}
.t-left {
  text-align: left;
}
.t-right {
  text-align: right;
}
.t-justify {
  text-align: justify;
}
/*字体色***********start**************************/
.c_green {
  color: #3eb382;
}
.c_white {
  color: #ffffff;
}
.c_red {
  color: #e03846;
}
.c_orange {
  color: #e58129;
}
.c_gold {
  color: #e0c25e;
}
.c_black {
  color: #2b2f33;
}
.c_gray_dark {
  color: #5e646b;
}
.c_gray {
  color: #b4b9bf;
}
.c_gray_light {
  color: #dcdee0;
}
/*字体色************end***********************/
/*背景色*/
.b_green {
  background-color: #3eb382;
}
.b_white {
  background-color: #fff;
}
.b_light {
  background-color: #dcdee0;
}
.b_gary {
  background-color: #f7faf8;
}
/*边框*/
.border_gray {
  border: 1px solid #dcdee0;
}
.border_red {
  border: 1px solid #e03846;
}
.border_b {
  border-bottom: 1px solid #dcdee0;
}
.border_top {
  border-top: 1px solid #dcdee0;
}
/*按钮*/
.btn {
  border-radius: 0.08rem;
  text-align: center;
  padding-left: 0.26666667rem;
  padding-right: 0.26666667rem;
}
.btn_l {
  height: 1.33333333rem;
  line-height: 1.33333333rem;
}
.btn_m {
  border-radius: 0.08rem;
  text-align: center;
}
.btn_s {
  height: 0.8rem;
  line-height: 0.8rem;
}
.green_btn {
  background-color: #3eb382;
  color: #fff;
}
.green_btn_disable {
  background-color: #dcdee0;
}
.box-sh-b {
  box-shadow: 0 0.17333333rem 0.62666667rem -0.4rem #2b2f33;
}
.box-sh-green {
  box-shadow: 0.26666667rem 0.4rem 0.26666667rem rgba(73, 173, 131, 0.06);
}
.mar_r_120 {
  margin-right: 1.6rem;
}
.mar_auto {
  margin: 0 auto;
}
.mar_top_10 {
  margin-top: 0.13333333rem;
}
.mar_top_20 {
  margin-top: 0.26666667rem;
}
.mar_top_30 {
  margin-top: 0.4rem;
}
.mar_top_40 {
  margin-top: 0.53333333rem;
}
.mar_top_50 {
  margin-top: 0.66666667rem;
}
.mar_top_60 {
  margin-top: 0.8rem;
}
.mar_top_70 {
  margin-top: 0.93333333rem;
}
.mar_top_80 {
  margin-top: 1.06666667rem;
}
.mar_top_90 {
  margin-top: 1.2rem;
}
.mar_top_100 {
  margin-top: 1.32rem;
}
.mar_b_30 {
  margin-bottom: 0.4rem;
}
.mar_b_40 {
  margin-bottom: 0.53333333rem;
}
.mar_b_50 {
  margin-bottom: 0.66666667rem;
}
.mar_b_60 {
  margin-bottom: 0.8rem;
}
.mar_b_70 {
  margin-bottom: 0.93333333rem;
}
.pad_40 {
  padding: 0 0.53333333rem;
}
.pad_30 {
  padding: 0 0.4rem;
}
.pad_left_10 {
  padding-left: 0.13333333rem;
}
.pad_left_20 {
  padding-left: 0.26666667rem;
}
.pad_left_30 {
  padding-left: 0.4rem;
}
.pad_left_40 {
  padding-left: 0.53333333rem;
}
.pad_left_50 {
  padding-left: 0.66666667rem;
}
.pad_left_60 {
  padding-left: 0.8rem;
}
.pad_left_70 {
  padding-left: 0.93333333rem;
}
.pad_right_10 {
  padding-right: 0.13333333rem;
}
.pad_right_20 {
  padding-right: 0.26666667rem;
}
.pad_right_30 {
  padding-right: 0.4rem;
}
.pad_right_40 {
  padding-right: 0.53333333rem;
}
.pad_right_50 {
  padding-right: 0.66666667rem;
}
.pad_right_60 {
  padding-right: 0.8rem;
}
.pad_right_70 {
  padding-right: 0.93333333rem;
}
.pad_top_20 {
  padding-top: 0.26666667rem;
}
.pad_top_30 {
  padding-top: 0.4rem;
}
.pad_bot_20 {
  padding-bottom: 0.26666667rem;
}
.pad_bot_30 {
  padding-bottom: 0.4rem;
}
.w_full {
  width: 100%;
  max-width: 10rem;
}
.h_full {
  height: 100%;
}
.hgt_120 {
  height: 1.6rem;
  line-height: 1.6rem;
}
.hgt_100 {
  height: 1.33333333rem;
  line-height: 1.33333333rem;
}
.hgt_110 {
  height: 1.46666667rem;
  line-height: 1.46666667rem;
}
.hgt_90 {
  height: 1.2rem;
  line-height: 1.2rem;
}
.hgt_80 {
  height: 1.06666667rem;
  line-height: 1.06666667rem;
}
.hgt_70 {
  height: 0.93333333rem;
  line-height: 0.93333333rem;
}
.hgt_60 {
  height: 0.8rem;
  line-height: 0.8rem;
}
.hgt_50 {
  height: 0.66666667rem;
  line-height: 0.66666667rem;
}
.hgt_40 {
  height: 0.53333333rem;
  line-height: 0.53333333rem;
}
.hgt_30 {
  height: 0.4rem;
  line-height: 0.4rem;
}
.line_hgt150 {
  line-height: 150%;
}
.keyword {
  color: #3eb382;
}
::-moz-placeholder {
  color: #b4b9bf;
}
:-ms-input-placeholder {
  color: #b4b9bf;
}
::-webkit-input-placeholder {
  color: #b4b9bf;
}
/*字体*/
.font_20 {
  font-size: 20px;
}
[data-dpr="1"] .font_20 {
  font-size: 10px;
}
[data-dpr="3"] .font_20 {
  font-size: 30px;
}
.font_22 {
  font-size: 22px;
}
[data-dpr="1"] .font_22 {
  font-size: 12px;
}
[data-dpr="3"] .font_22 {
  font-size: 34px;
}
.font_24 {
  font-size: 24px;
}
[data-dpr="1"] .font_24 {
  font-size: 12px;
}
[data-dpr="3"] .font_24 {
  font-size: 36px;
}
.font_26 {
  font-size: 26px;
}
[data-dpr="1"] .font_26 {
  font-size: 14px;
}
[data-dpr="3"] .font_26 {
  font-size: 40px;
}
.font_28 {
  font-size: 28px;
}
[data-dpr="1"] .font_28 {
  font-size: 14px;
}
[data-dpr="3"] .font_28 {
  font-size: 42px;
}
.font_30 {
  font-size: 30px;
}
[data-dpr="1"] .font_30 {
  font-size: 16px;
}
[data-dpr="3"] .font_30 {
  font-size: 46px;
}
.font_32 {
  font-size: 32px;
}
[data-dpr="1"] .font_32 {
  font-size: 16px;
}
[data-dpr="3"] .font_32 {
  font-size: 48px;
}
.font_34 {
  font-size: 34px;
}
[data-dpr="1"] .font_34 {
  font-size: 16px;
}
[data-dpr="3"] .font_34 {
  font-size: 50px;
}
.font_36 {
  font-size: 36px;
}
[data-dpr="1"] .font_36 {
  font-size: 18px;
}
[data-dpr="3"] .font_36 {
  font-size: 54px;
}
.font_38 {
  font-size: 38px;
}
[data-dpr="1"] .font_38 {
  font-size: 18px;
}
[data-dpr="3"] .font_38 {
  font-size: 56px;
}
.font_40 {
  font-size: 40px;
}
[data-dpr="1"] .font_40 {
  font-size: 20px;
}
[data-dpr="3"] .font_40 {
  font-size: 60px;
}
.font_42 {
  font-size: 42px;
}
[data-dpr="1"] .font_42 {
  font-size: 20px;
}
[data-dpr="3"] .font_42 {
  font-size: 62px;
}
.font_44 {
  font-size: 44px;
}
[data-dpr="1"] .font_44 {
  font-size: 22px;
}
[data-dpr="3"] .font_44 {
  font-size: 66px;
}
.font_46 {
  font-size: 46px;
}
[data-dpr="1"] .font_46 {
  font-size: 24px;
}
[data-dpr="3"] .font_46 {
  font-size: 70px;
}
.font_48 {
  font-size: 48px;
}
[data-dpr="1"] .font_48 {
  font-size: 24px;
}
[data-dpr="3"] .font_48 {
  font-size: 72px;
}
.font_52 {
  font-size: 52px;
}
[data-dpr="1"] .font_52 {
  font-size: 26px;
}
[data-dpr="3"] .font_52 {
  font-size: 78px;
}
.line_thr {
  text-decoration: line-through;
}
/**追加到mayi_base.css文件中**/
a {
  color: #2b2f33;
}

.border-1px {
  position: relative;
}
.border-1px:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #dcdee0;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px::after {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px::after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
/*解决字母数字偏上问题*/
.strings_num{
  position: relative;
  top:0.02666667rem;
}